// Fonts
@import url('https://fonts.googleapis.com/css?family=Open Sans');

// Variables
@import 'variables';
@import '../../node_modules/reset-css/sass/_reset';

$small: 414px;
$large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large) { @content; }
  }
}

body {
	font-family: $font-family-sans-serif;
	line-height: $line-height-base;	
}

h1 {
	text-align: center;
	font-size: 25px;
	margin: 20px 0 40px;
}

.wrapper {
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 7px;
	box-sizing:border-box;

	.legend {
		width: 100%;
		color: #111;

		h2 {
			font-size: 18px;
			margin: 0 0 6px;
			font-weight: bold;
		}

		p {
			margin: 5px 0;
		}

		&-item {
			margin-bottom: 25px;
		}

		&-item-description {
			color: #222;
			font-size: 15px;
		}
	}

	.plot {
		width: 100%;
		margin-bottom: 35px;

		@include respond-to(handhelds) {
			overflow-x: scroll;
		}

		&-wrapper {
			width: 100%;

			-webkit-overflow-scrolling: touch;

			
		}
	}
}